USE [recursos_humanos]
GO
/****** Object:  Table [dbo].[area]    Script Date: 23/05/2020 10:45:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[area](
	[id_area] [int] IDENTITY(1,1) NOT NULL,
	[nombre_area] [varchar](65) NULL,
	[codigo] [varchar](5) NULL,
	[id_division] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_area] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[datos_academicos]    Script Date: 23/05/2020 10:45:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[datos_academicos](
	[id_persona] [int] NULL,
	[id_datos_academicos] [int] IDENTITY(1,1) NOT NULL,
	[nivel] [varchar](65) NOT NULL,
	[institucionA] [varchar](65) NOT NULL,
	[lugar] [varchar](65) NOT NULL,
	[fecha_finalizar] [date] NULL,
	[grado] [varchar](65) NOT NULL,
	[idioma] [varchar](125) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_datos_academicos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[datos_familiares]    Script Date: 23/05/2020 10:45:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[datos_familiares](
	[id_persona] [int] NULL,
	[id_datos_familiares] [int] IDENTITY(1,1) NOT NULL,
	[nombre_padre] [varchar](65) NOT NULL,
	[estado_padre] [varchar](65) NOT NULL,
	[telefono_padre] [varchar](15) NOT NULL,
	[nombre_madre] [varchar](65) NOT NULL,
	[estado_madre] [varchar](65) NOT NULL,
	[telefono_madre] [varchar](15) NOT NULL,
	[nombre_conyugue] [varchar](65) NOT NULL,
	[telefono_conyugue] [varchar](15) NOT NULL,
	[persona_emergencia] [varchar](95) NOT NULL,
	[parentesco_emergencia] [varchar](95) NOT NULL,
	[telefono_emergencia] [varchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_datos_familiares] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[datos_personales]    Script Date: 23/05/2020 10:45:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[datos_personales](
	[id_persona] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](65) NOT NULL,
	[apellido] [varchar](65) NOT NULL,
	[cedula] [varchar](20) NOT NULL,
	[nacimiento] [date] NULL,
	[correo] [varchar](65) NOT NULL,
	[estudios] [varchar](120) NOT NULL,
	[telefono_casa] [varchar](15) NOT NULL,
	[telefono_movil] [varchar](15) NOT NULL,
	[condicion] [varchar](65) NOT NULL,
	[rango] [varchar](65) NOT NULL,
	[institucion] [varchar](65) NOT NULL,
	[fecha_ingreso] [varchar](20) NULL,
	[ultimo_ascenso] [varchar](65) NOT NULL,
	[antecedentes] [varchar](10) NOT NULL,
	[calle] [text] NOT NULL,
	[sector] [text] NOT NULL,
	[ciudad] [text] NOT NULL,
	[numeroCasa] [int] NOT NULL,
	[licencia] [varchar](30) NOT NULL,
	[grupoSanguineo] [varchar](8) NULL,
	[dependiente] [varchar](25) NOT NULL,
	[imagen] [image] NULL,
	[sexo] [varchar](20) NULL,
	[codigo] [varchar](8) NULL,
	[fecha] [date] NULL,
	[salario] [varchar](15) NULL,
	[estado] [varchar](5) NULL,
	[puesto] [varchar](50) NULL,
	[id_departamento] [int] NULL,
 CONSTRAINT [PK__datos_pe__228148B0FD1ECDEB] PRIMARY KEY CLUSTERED 
(
	[id_persona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[departamento]    Script Date: 23/05/2020 10:45:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[departamento](
	[id_departamento] [int] IDENTITY(1,1) NOT NULL,
	[nombre_departamento] [varchar](65) NULL,
	[codigo_departamento]  AS (right('0'+CONVERT([varchar](3),[id_departamento]),(2))) PERSISTED,
	[id_direccion] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_departamento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[direccion]    Script Date: 23/05/2020 10:45:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[direccion](
	[id_direccion] [int] IDENTITY(1,1) NOT NULL,
	[nombre_direccion] [varchar](65) NULL,
	[codigo_direccion]  AS (right('0'+CONVERT([varchar](8),[id_direccion]),(2))) PERSISTED,
PRIMARY KEY CLUSTERED 
(
	[id_direccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[division]    Script Date: 23/05/2020 10:45:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[division](
	[id_division] [int] IDENTITY(1,1) NOT NULL,
	[id_departamento] [int] NULL,
	[codigo_division] [varchar](8) NULL,
	[nombre_division] [varchar](45) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_division] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[hijos]    Script Date: 23/05/2020 10:45:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[hijos](
	[id_hijo] [int] IDENTITY(1,1) NOT NULL,
	[id_datos_familiares] [int] NULL,
	[nombre_hijo] [varchar](65) NOT NULL,
	[edad] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_hijo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[usuarios]    Script Date: 23/05/2020 10:45:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[usuarios](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](95) NULL,
	[apellido] [varchar](95) NULL,
	[cedula] [varchar](20) NULL,
	[usuario] [varchar](95) NULL,
	[clave] [varchar](95) NULL,
	[consultar] [varchar](5) NULL,
	[registrar] [varchar](5) NULL,
	[modificar] [varchar](5) NULL,
	[eliminar] [varchar](5) NULL,
	[admi] [varchar](5) NULL,
	[reportes] [varchar](5) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[area] ON 

INSERT [dbo].[area] ([id_area], [nombre_area], [codigo], [id_division]) VALUES (1, N'Encargado Desarrollo', N'01', 1)
INSERT [dbo].[area] ([id_area], [nombre_area], [codigo], [id_division]) VALUES (2, N'Desarrollador', N'02', 1)
INSERT [dbo].[area] ([id_area], [nombre_area], [codigo], [id_division]) VALUES (3, N'Encargado Redes', N'03', 2)
SET IDENTITY_INSERT [dbo].[area] OFF
SET IDENTITY_INSERT [dbo].[datos_academicos] ON 

INSERT [dbo].[datos_academicos] ([id_persona], [id_datos_academicos], [nivel], [institucionA], [lugar], [fecha_finalizar], [grado], [idioma]) VALUES (1, 1, N'Superior', N'OYM', N'Santo Domingo', CAST(N'2020-05-21' AS Date), N'Ingeniero', N'Ingles, Aleman, japones')
INSERT [dbo].[datos_academicos] ([id_persona], [id_datos_academicos], [nivel], [institucionA], [lugar], [fecha_finalizar], [grado], [idioma]) VALUES (2, 2, N'809 287 5643', N'No Aplica', N'Infotep', CAST(N'1993-07-08' AS Date), N'Tecnico en redes', N'Español, ingles')
INSERT [dbo].[datos_academicos] ([id_persona], [id_datos_academicos], [nivel], [institucionA], [lugar], [fecha_finalizar], [grado], [idioma]) VALUES (4, 3, N'Basico', N'VFGFJKHJGFDSASDFGHJ', N'SDCFVGBHNJGDS', CAST(N'2020-05-22' AS Date), N'NO', N',.........')
SET IDENTITY_INSERT [dbo].[datos_academicos] OFF
SET IDENTITY_INSERT [dbo].[datos_familiares] ON 

INSERT [dbo].[datos_familiares] ([id_persona], [id_datos_familiares], [nombre_padre], [estado_padre], [telefono_padre], [nombre_madre], [estado_madre], [telefono_madre], [nombre_conyugue], [telefono_conyugue], [persona_emergencia], [parentesco_emergencia], [telefono_emergencia]) VALUES (1, 1, N'mario', N'No Vive', N'No Aplica', N'maria', N'No Vive', N'No Aplica', N'', N'   -   -', N'julia', N'tia', N'809-456-4864')
INSERT [dbo].[datos_familiares] ([id_persona], [id_datos_familiares], [nombre_padre], [estado_padre], [telefono_padre], [nombre_madre], [estado_madre], [telefono_madre], [nombre_conyugue], [telefono_conyugue], [persona_emergencia], [parentesco_emergencia], [telefono_emergencia]) VALUES (2, 2, N'Julio', N'No Vive', N'No Aplica', N'Josefina', N'No Vive', N'No Aplica', N'', N'   -   -', N'Martha', N'Tia', N'849-324-5441')
INSERT [dbo].[datos_familiares] ([id_persona], [id_datos_familiares], [nombre_padre], [estado_padre], [telefono_padre], [nombre_madre], [estado_madre], [telefono_madre], [nombre_conyugue], [telefono_conyugue], [persona_emergencia], [parentesco_emergencia], [telefono_emergencia]) VALUES (4, 3, N'dfg', N'No Vive', N'No Aplica', N'fg', N'No Vive', N'No Aplica', N'', N'   -   -', N'gvm mnbv', N'', N'859-970-0080')
SET IDENTITY_INSERT [dbo].[datos_familiares] OFF
SET IDENTITY_INSERT [dbo].[datos_personales] ON 

SET IDENTITY_INSERT [dbo].[datos_personales] OFF
SET ANSI_PADDING ON
SET IDENTITY_INSERT [dbo].[departamento] ON 

INSERT [dbo].[departamento] ([id_departamento], [nombre_departamento], [id_direccion]) VALUES (1, N'Departamento Tecnologia', 1)
SET IDENTITY_INSERT [dbo].[departamento] OFF
SET ANSI_PADDING OFF
SET ANSI_PADDING ON
SET IDENTITY_INSERT [dbo].[direccion] ON 

INSERT [dbo].[direccion] ([id_direccion], [nombre_direccion]) VALUES (1, N'Direccion General')
INSERT [dbo].[direccion] ([id_direccion], [nombre_direccion]) VALUES (2, N'general')
SET IDENTITY_INSERT [dbo].[direccion] OFF
SET ANSI_PADDING OFF
SET IDENTITY_INSERT [dbo].[division] ON 

INSERT [dbo].[division] ([id_division], [id_departamento], [codigo_division], [nombre_division]) VALUES (1, 1, N'01', N'Desarrollo')
INSERT [dbo].[division] ([id_division], [id_departamento], [codigo_division], [nombre_division]) VALUES (2, 1, N'02', N'Redes')
INSERT [dbo].[division] ([id_division], [id_departamento], [codigo_division], [nombre_division]) VALUES (3, 1, N'03', N'Servidoras')
SET IDENTITY_INSERT [dbo].[division] OFF
SET IDENTITY_INSERT [dbo].[hijos] ON 

INSERT [dbo].[hijos] ([id_hijo], [id_datos_familiares], [nombre_hijo], [edad]) VALUES (1, 1, N'No Tiene', N'No Tiene')
INSERT [dbo].[hijos] ([id_hijo], [id_datos_familiares], [nombre_hijo], [edad]) VALUES (2, 2, N'No Tiene', N'No Tiene')
INSERT [dbo].[hijos] ([id_hijo], [id_datos_familiares], [nombre_hijo], [edad]) VALUES (3, 3, N'No Tiene', N'No Tiene')
SET IDENTITY_INSERT [dbo].[hijos] OFF
SET IDENTITY_INSERT [dbo].[usuarios] ON 

INSERT [dbo].[usuarios] ([id_usuario], [nombre], [apellido], [cedula], [usuario], [clave], [consultar], [registrar], [modificar], [eliminar], [admi], [reportes]) VALUES (1, N'Josue', N'Perez', N'001-8749657-1', N'josue@gmail.com', N'123456', N'Si', N'Si', N'Si', N'Si', N'No', N'Si')
INSERT [dbo].[usuarios] ([id_usuario], [nombre], [apellido], [cedula], [usuario], [clave], [consultar], [registrar], [modificar], [eliminar], [admi], [reportes]) VALUES (2, N'Luis', N'Garcia', N'409-4465351-7', N'luis@gmail.com', N'123456', N'Si', N'No', N'No', N'No', N'No', N'Si')
SET IDENTITY_INSERT [dbo].[usuarios] OFF
ALTER TABLE [dbo].[datos_academicos]  WITH CHECK ADD  CONSTRAINT [FK_datosPersonales_datosAcademicos] FOREIGN KEY([id_persona])
REFERENCES [dbo].[datos_personales] ([id_persona])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[datos_academicos] CHECK CONSTRAINT [FK_datosPersonales_datosAcademicos]
GO
ALTER TABLE [dbo].[datos_familiares]  WITH CHECK ADD  CONSTRAINT [FK_datosPersonales_datosFamiliares] FOREIGN KEY([id_persona])
REFERENCES [dbo].[datos_personales] ([id_persona])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[datos_familiares] CHECK CONSTRAINT [FK_datosPersonales_datosFamiliares]
GO
ALTER TABLE [dbo].[departamento]  WITH CHECK ADD  CONSTRAINT [FK_departamento_direccion] FOREIGN KEY([id_direccion])
REFERENCES [dbo].[direccion] ([id_direccion])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[departamento] CHECK CONSTRAINT [FK_departamento_direccion]
GO
ALTER TABLE [dbo].[hijos]  WITH CHECK ADD  CONSTRAINT [FK_datosFamiliares_Hijos] FOREIGN KEY([id_datos_familiares])
REFERENCES [dbo].[datos_familiares] ([id_datos_familiares])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[hijos] CHECK CONSTRAINT [FK_datosFamiliares_Hijos]
GO
/****** Object:  StoredProcedure [dbo].[SP_actualizar_datosAcademicos]    Script Date: 23/05/2020 10:45:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_actualizar_datosAcademicos]
@id_datos int,
@nivel varchar(35),
@institucion varchar(95),
@lugar varchar(65),
@finalizar date,
@grado varchar(65),
@idioma varchar(95)
AS
UPDATE datos_academicos SET nivel = @nivel, institucionA = @institucion, lugar = @lugar, fecha_finalizar = @finalizar, grado = @grado, idioma = @idioma where id_datos_academicos = @id_datos

GO
/****** Object:  StoredProcedure [dbo].[SP_actualizar_datosFamiliares]    Script Date: 23/05/2020 10:45:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[SP_actualizar_datosFamiliares]
@id_familiares int,
@nombre_padre varchar(95),
@estado_padre varchar(95),
@telefono_padre varchar(20),
@nombre_madre varchar(95),
@estado_madre varchar(95),
@telefono_madre varchar(20),
@nombre_conyugue varchar(95),
@telefono_conyugue varchar(20),
@persona_emergencia varchar(95),
@parentesco_emergencia varchar(95),
@telefono_emergencia varchar(20)
AS
UPDATE datos_familiares SET nombre_padre = @nombre_padre, estado_padre = @estado_padre, telefono_padre = @telefono_padre, nombre_madre = @nombre_madre, estado_madre = @estado_madre, telefono_madre = @telefono_madre, nombre_conyugue = @nombre_conyugue, telefono_conyugue = @telefono_conyugue, persona_emergencia = @persona_emergencia, parentesco_emergencia = @parentesco_emergencia, telefono_emergencia = @telefono_emergencia
WHERE id_datos_familiares = @id_familiares


GO
/****** Object:  StoredProcedure [dbo].[SP_actualizar_informacionPersona]    Script Date: 23/05/2020 10:45:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_actualizar_informacionPersona]
@id_persona int,
@nombre varchar(95),
@apellido varchar(95),
@cedula varchar(25),
@nacimiento date,
@correo varchar(135),
@estudios varchar(30),
@telefono_casa varchar(15),
@telefono_movil varchar(15),
@condicion varchar(35),
@rango varchar(95),
@institucion varchar(95),
@fecha_ingreso varchar(20),
@ultimo_ascenso varchar(95),
@antecedentes varchar(95),
@calle text,
@sector text,
@ciudad text,
@numero_casa int,
@licencia varchar(30),
@sangre varchar(8),
@dependiente varchar(35),
@imagen image,
@sexo varchar(20),
@salario varchar(20),
@puesto varchar(50)
AS
UPDATE datos_personales set nombre = @nombre, apellido = @apellido, cedula = @cedula, nacimiento = @nacimiento, correo = @correo, estudios = @estudios, telefono_casa = @telefono_casa, telefono_movil = @telefono_movil, condicion = @condicion, rango = @rango, institucion = @institucion,fecha_ingreso = fecha_ingreso, ultimo_ascenso = @ultimo_ascenso, antecedentes = @antecedentes, calle = @calle, sector = @sector, ciudad = @ciudad, numeroCasa = @numero_casa, licencia = @licencia, grupoSanguineo = @sangre, dependiente = @dependiente, imagen = @imagen, sexo = @sexo , salario = @salario, puesto = @puesto
where id_persona = @id_persona
GO
/****** Object:  StoredProcedure [dbo].[SP_actualizarUsuarios]    Script Date: 23/05/2020 10:45:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_actualizarUsuarios]
@id_usuario int,
@nombre varchar(95),
@apellido varchar(95),
@cedula varchar(20),
@usuario varchar(95),
@clave varchar(95),
@consultar varchar(5),
@registrar varchar(5),
@modificar varchar(5),
@eliminar varchar(5),
@admin varchar(5),
@reporte varchar(5)
AS
UPDATE usuarios SET nombre = @nombre, apellido = @apellido, cedula = @cedula, usuario = @usuario, clave = @clave, consultar = @consultar, registrar = @registrar, modificar = @modificar, eliminar = @eliminar, admi = @admin, reportes = @reporte
where id_usuario = @id_usuario
GO
/****** Object:  StoredProcedure [dbo].[SP_Areas]    Script Date: 23/05/2020 10:45:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_Areas]
as
select * from area

GO
/****** Object:  StoredProcedure [dbo].[SP_Eliminar]    Script Date: 23/05/2020 10:45:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_Eliminar]
@id_persona int
AS
update datos_personales set estado = 1 where id_persona = @id_persona

GO
/****** Object:  StoredProcedure [dbo].[SP_Estudios]    Script Date: 23/05/2020 10:45:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_Estudios]
@cedula varchar(65)
as
select a.id_persona,nivel,institucionA,lugar, fecha_finalizar, grado, idioma from datos_academicos a join datos_personales p on p.id_persona = a.id_persona
where p.cedula = @cedula

GO
/****** Object:  StoredProcedure [dbo].[SP_Filtrar]    Script Date: 23/05/2020 10:45:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_Filtrar]
@cedula varchar(25)
AS
select *
from datos_personales p 
inner join datos_academicos a 
on p.id_persona = a.id_persona 
inner join datos_familiares f 
on p.id_persona = f.id_persona
inner join hijos h
on h.id_datos_familiares = f.id_datos_familiares
inner join departamento d
on d.id_departamento = p.id_departamento
where p.cedula like @cedula or p.nombre like @cedula and p.estado = 0

GO
/****** Object:  StoredProcedure [dbo].[SP_FiltroUsuarios]    Script Date: 23/05/2020 10:45:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_FiltroUsuarios]
@filtro varchar(95)
AS
select * from usuarios where cedula like @filtro or nombre like @filtro

GO
/****** Object:  StoredProcedure [dbo].[SP_GetAll]    Script Date: 23/05/2020 10:45:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_GetAll]
AS
select *
from datos_personales p 
inner join datos_academicos a 
on p.id_persona = a.id_persona 
inner join datos_familiares f 
on p.id_persona = f.id_persona
inner join hijos h
on h.id_datos_familiares = f.id_datos_familiares
where p.estado != 1
GO
/****** Object:  StoredProcedure [dbo].[SP_IdFamiliares]    Script Date: 23/05/2020 10:45:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_IdFamiliares]
@padre varchar(95)
AS
SELECT MAX(id_datos_familiares) as id_datos_familiares FROM datos_familiares WHERE nombre_padre = @padre 


GO
/****** Object:  StoredProcedure [dbo].[SP_insertar_datosAcademicos]    Script Date: 23/05/2020 10:45:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_insertar_datosAcademicos]
@id_persona int,
@estudios varchar(65),
@colegio varchar(65),
@lugar varchar(65),
@fechaFin date,
@titulo varchar(65),
@idioma varchar(125)
as
INSERT INTO datos_academicos VALUES(@id_persona,@estudios,@colegio,@lugar,@fechaFin,@titulo,@idioma)


GO
/****** Object:  StoredProcedure [dbo].[SP_insertar_datosFamiliares]    Script Date: 23/05/2020 10:45:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_insertar_datosFamiliares]
@id_persona int,
@nombre_padre varchar(65),
@estado_padre varchar(65),
@telefono_padre varchar(20),
@nombre_madre varchar(65),
@estado_madre varchar(65),
@telefono_madre varchar(20),
@nombre_conyugue varchar(65),
@telefono_conyugue varchar(20),
@persona_emergencia varchar(95),
@parentesco_emergencia varchar(95),
@telefono_emergencia varchar(20)
AS
INSERT INTO datos_familiares VALUES(@id_persona,@nombre_padre,@estado_padre,@telefono_padre,@nombre_madre,@estado_madre,@telefono_madre,@nombre_conyugue,@telefono_conyugue,@persona_emergencia,@parentesco_emergencia,@telefono_emergencia)


GO
/****** Object:  StoredProcedure [dbo].[SP_insertar_informacionPersona]    Script Date: 23/05/2020 10:45:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_insertar_informacionPersona]
@codigo varchar(8),
@id_departamento int,
@nombre varchar(65),
@apellido varchar(65),
@cedula varchar(30),
@nacimiento date,
@sexo varchar(25),
@calle text,
@sector text,
@ciudad text,
@numeroCasa int,
@correo varchar(95),
@estudios varchar(120),
@telefono_casa varchar(20),
@telefono_movil varchar(20),
@licencia varchar(30),
@dependiente varchar(35),
@condicion varchar(35),
@rango varchar(50),
@institucion varchar(65),
@fecha_ingreso varchar(20),
@ultimo_ascenso varchar(65),
@antecedentes varchar(8),
@gruposanguineo varchar(8),
@foto image,
@salario varchar(15),
@estado varchar(5),
@puesto varchar(50)
AS
INSERT INTO datos_personales (codigo,nombre,apellido,cedula,nacimiento,sexo,calle,sector,ciudad,numeroCasa,correo,estudios,telefono_casa,telefono_movil,licencia,dependiente,condicion,rango,institucion,fecha_ingreso,ultimo_ascenso,antecedentes,gruposanguineo,imagen,fecha,salario,estado,puesto,id_departamento) 
VALUES (@codigo,@nombre,@apellido,@cedula,@nacimiento,@sexo,@calle,@sector,@ciudad,@numeroCasa,@correo,@estudios,@telefono_casa,@telefono_movil,@licencia,@dependiente,@condicion,@rango,@institucion,@fecha_ingreso,@ultimo_ascenso,@antecedentes,@gruposanguineo,@foto,GETDATE(),@salario,@estado,@puesto,@id_departamento)


GO
/****** Object:  StoredProcedure [dbo].[SP_InsertarArea]    Script Date: 23/05/2020 10:45:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_InsertarArea]
@id_division int,
@nombre varchar(65),
@codigo varchar(8)
as 
insert into area values (@nombre,@codigo,@id_division)

GO
/****** Object:  StoredProcedure [dbo].[SP_insertarDepartamento]    Script Date: 23/05/2020 10:45:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_insertarDepartamento]
@nombre varchar(65),
@id_direccion int
as
insert into departamento VALUES (@nombre,@id_direccion)

GO
/****** Object:  StoredProcedure [dbo].[SP_InsertarDireccion]    Script Date: 23/05/2020 10:45:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_InsertarDireccion]
@nombre varchar(65)
as
INSERT INTO direccion VALUES(@nombre)

GO
/****** Object:  StoredProcedure [dbo].[SP_InsertarDivision]    Script Date: 23/05/2020 10:45:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_InsertarDivision]
@nombre_division varchar(65),
@id_departamento int,
@codigo varchar(8)
as
insert into division values(@id_departamento,@codigo,@nombre_division)

GO
/****** Object:  StoredProcedure [dbo].[SP_InsertarHijos]    Script Date: 23/05/2020 10:45:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_InsertarHijos]
@idFamiliares int,
@nombre varchar(95),
@edad varchar(15)
AS
INSERT INTO hijos (id_datos_familiares,nombre_hijo,edad) VALUES (@idFamiliares,@nombre,@edad)

GO
/****** Object:  StoredProcedure [dbo].[SP_InsertarSalario]    Script Date: 23/05/2020 10:45:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_InsertarSalario]
@id_persona int,
@salario varchar(15)
as
insert into salario values(@id_persona,@salario)

GO
/****** Object:  StoredProcedure [dbo].[SP_insertarUsuario]    Script Date: 23/05/2020 10:45:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_insertarUsuario]
@nombre varchar(95),
@apellido varchar(95),
@cedula varchar(20),
@usuario varchar(95),
@clave varchar(95),
@consultar varchar(5),
@registrar varchar(5),
@modificar varchar(5),
@eliminar varchar(5),
@admin varchar(5),
@reporte varchar(5)
AS
INSERT INTO usuarios VALUES (@nombre,@apellido,@cedula,@usuario,@clave,@consultar,@registrar,@modificar,@eliminar,@admin,@reporte)
GO
/****** Object:  StoredProcedure [dbo].[SP_listaUsuarios]    Script Date: 23/05/2020 10:45:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_listaUsuarios]
AS
select * from usuarios


GO
/****** Object:  StoredProcedure [dbo].[SP_Login]    Script Date: 23/05/2020 10:45:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_Login]
@usuario varchar(95),
@clave varchar(35)
As
SELECT id_usuario, nombre, apellido, consultar, registrar, modificar, eliminar,admi, reportes FROM usuarios
where usuario = @usuario and clave = @clave
GO
/****** Object:  StoredProcedure [dbo].[SP_obteneIdDepartamento]    Script Date: 23/05/2020 10:45:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_obteneIdDepartamento]
@nombre varchar(65)
as
select id_departamento as id from departamento where nombre_departamento = @nombre

GO
/****** Object:  StoredProcedure [dbo].[SP_obteneIdDireccion]    Script Date: 23/05/2020 10:45:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_obteneIdDireccion]
@nombre varchar(65)
as
select id_direccion as id from direccion where nombre_direccion = @nombre

GO
/****** Object:  StoredProcedure [dbo].[SP_ObtenerArea]    Script Date: 23/05/2020 10:45:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_ObtenerArea] 
@id_departamento int
as
select * from division d inner join area a on a.id_division = d.id_division where d.id_departamento = @id_departamento

GO
/****** Object:  StoredProcedure [dbo].[SP_obtenerDepartamento]    Script Date: 23/05/2020 10:45:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_obtenerDepartamento]
as
select * from direccion dir
inner join departamento dpt on dir.id_direccion = dpt.id_direccion

GO
/****** Object:  StoredProcedure [dbo].[SP_obtenerDepartamentoFormReporte]    Script Date: 23/05/2020 10:45:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_obtenerDepartamentoFormReporte]
as
select nombre_departamento as NombreDepartamento, codigo_departamento as Codigo from departamento 

GO
/****** Object:  StoredProcedure [dbo].[SP_ObtenerDireccion]    Script Date: 23/05/2020 10:45:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_ObtenerDireccion]
as
select * from direccion

GO
/****** Object:  StoredProcedure [dbo].[SP_obtenerDivision]    Script Date: 23/05/2020 10:45:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_obtenerDivision]
as
select * from division

GO
/****** Object:  StoredProcedure [dbo].[SP_Reporte]    Script Date: 23/05/2020 10:45:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_Reporte]
@cedula varchar(95)
AS
select * 
from datos_personales p 
inner join datos_academicos a 
on p.id_persona = a.id_persona 
inner join datos_familiares f 
on p.id_persona = f.id_persona
inner join hijos h
on h.id_datos_familiares = f.id_datos_familiares
where p.cedula = @cedula

GO
/****** Object:  StoredProcedure [dbo].[SP_ReporteHijo]    Script Date: 23/05/2020 10:45:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_ReporteHijo]
@cedula varchar(25)
AS
select count(nombre_hijo) Hijo 
from hijos h inner join datos_familiares f 
on h.id_datos_familiares = f.id_datos_familiares join datos_personales p on p.id_persona = f.id_persona 
where p.cedula = @cedula and nombre_hijo != 'No Tiene'

GO
/****** Object:  StoredProcedure [dbo].[SP_ReporteVariasPersonas]    Script Date: 23/05/2020 10:45:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_ReporteVariasPersonas] 
@codigo varchar(10),
@fecha1 date,
@fecha2 date
as
select p.codigo, p.nombre, p.apellido, p.cedula, d.nombre_departamento as departamento, p.salario from datos_personales p 
inner join departamento d on p.id_departamento = d.id_departamento
where d.codigo_departamento = @codigo or p.fecha between @fecha1 and @fecha2
GO
/****** Object:  StoredProcedure [dbo].[SP_ReporteVariasPersonas2]    Script Date: 23/05/2020 10:45:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_ReporteVariasPersonas2] 
@codigo varchar(10),
@fecha1 date,
@fecha2 date
as
select p.codigo, p.nombre, p.apellido, p.cedula, d.nombre_departamento as departamento, p.salario from datos_personales p join departamento d on p.id_departamento = d.id_departamento
where d.codigo_departamento = @codigo and p.fecha between @fecha1 and @fecha2

GO
/****** Object:  StoredProcedure [dbo].[SP_ultimoCodigoArea]    Script Date: 23/05/2020 10:45:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_ultimoCodigoArea]
as
SELECT MAX(codigo) as codigo FROM area

GO
/****** Object:  StoredProcedure [dbo].[SP_ultimoCodigoDepartamento]    Script Date: 23/05/2020 10:45:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_ultimoCodigoDepartamento]
as
SELECT MAX(codigo_departamento) as codigo FROM departamento

GO
/****** Object:  StoredProcedure [dbo].[SP_ultimoCodigoDireccion]    Script Date: 23/05/2020 10:45:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_ultimoCodigoDireccion]
as
SELECT MAX(codigo_direccion) as codigo FROM direccion

GO
/****** Object:  StoredProcedure [dbo].[SP_ultimoCodigoDivision]    Script Date: 23/05/2020 10:45:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_ultimoCodigoDivision]
as
SELECT MAX(codigo_division) as codigo FROM division

GO
/****** Object:  StoredProcedure [dbo].[SP_ultimoId]    Script Date: 23/05/2020 10:45:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[SP_ultimoId]
 
AS
   SELECT MAX(id_persona) as id FROM datos_personales


GO
/****** Object:  StoredProcedure [dbo].[SP_ultimoId2]    Script Date: 23/05/2020 10:45:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ultimoId2]
@cedula varchar(15) 
AS
   SELECT MAX(id_persona) as id FROM datos_personales where cedula = @cedula


GO
